.App {
  text-align: center;
  background-color: white;
}

h1 {
  color: #015249;
  font-size: 3em;
  font-family: Cursive;
}

h2 {
  font-size: 2em;
  color: #57BC90;
}

/************ NavBar ************/

.nav {
  background-color: #77c9D4;
  display: flex;
  box-shadow: 2px gray;
}

.nav a, span {
  /*background-color: #fae1b7;*/
  color: white;
  text-decoration: none;
  flex: 1;
  padding: 1em;
  font-size: 1.2em;
}

.nav a:hover, span:hover {
  opacity: 0.5;
  color: black;
}

/************ Form ************/

input {
  font-size: 1.5em;
  /*border-radius: 0.25em;*/
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 1px solid gray;
  padding-left: 10px;
  color: gray;
  margin: 0.5em;
}

input:focus {
  background-color: #FFFBFF;
  border-bottom: 2px solid #015249;
}

input[type=textarea] {
  font-size: 1.5em;
  border-radius: 0.25em;
  margin: 0.5em;
  width: 300px;
  height: 180px;
  color: gray;
}

input[type=textarea]:focus {
  background-color: #FFFBFF;
}

select {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.5em;
  width: 225px;
  border: 1px solid #ccc;
  height: 60px;
  background-color: #57BC90;
  color: white;
}

input[type=submit] {
  background-color: #015249;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 0.5em;
}

input[type=submit]:hover {
  background-color: #F7882F;
}

input[type=submit]:active {
  color: black;
}

/************ Dashboard ************/

button {
  background-color: #77c9D4;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 0.5em;
  font-size: 1em;
}

button:hover {
  background-color: #F7882F;
}

button:active {
  color: black;
}

/************ Category ************/

/************ Log ************/
.dash {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
}

.log {
  flex: 1;
  border-top: 1px dotted lightgray;
  width: 300px;
  overflow: scroll;
  margin: 25px;
}
